.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
    scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.my-card {
  transition: transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.my-card:hover {
  transform: scale(1.05);
}

.card-more {
  opacity: 0;
  max-height: 0;
    overflow: visible;
  transition: all 0.4s ease;
    white-space: normal; 
}

.my-card:hover .card-more {
  opacity: 1;
  max-height: 40px;
}
